.blogs-details {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
}

.question-ans {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.question-ans h4 {
  color: blueviolet;
  font-weight: 700;
}

.question-ans p {
  text-align: left;
}
