.text {
  color: red;
  text-align: center;
}

.btn {
  background-color: purple;
  padding: 10px 20px;
  margin: 2px;
  border: none;
  border-radius: 8px;
}

.link {
  text-decoration: none;
  color: white;
}

.img {
  width: 50%;
}
